In [1]:
print('Ini kelas Algoritma!')

Ini kelas Algoritma!

In [2]:
print("Ini kelas Algoritma!")

Ini kelas Algoritma!

In [3]:
print(Ini kelas Algoritma!)
#Dalam menggunakan program print, kita harus menggunakan tanda petik, baik itu tanda petik satu maupun petik dua.
#Jika tidak menggunakan tanda petik, maka hasilnya akan error seperti ini.

SyntaxError: invalid syntax (1250528077.py, line 1)

In [4]:
print("Ini kelas Algoritma!')
#Tanda petik yang digunakan pun harus sesuai dengan pasangannya, tidak boleh seperti ini.
#Dimana yang satu menggunakan petik dua dan lainnya menggunakan petik satu.
#Jika seperti ini maka akan menghasilkan error.

SyntaxError: EOL while scanning string literal (1981689615.py, line 1)

In [5]:
print('I don't understant what are you saying.')
#Pada kasus ini, walaupun sudah menggunakan tanda petik yang sama, namun hasilnya tetap error.
#Hal ini dikarenakan tanda petik itu memiliki tepat satu pasangan.
#Dan karena pada kasus ini terdapat 3 tanda petik yang serupa, 
#maka komputer tidak dapat mendeteksi pasangan tanda petik tersebut.

SyntaxError: invalid syntax (39863903.py, line 1)

In [6]:
print("I don't understant what are you saying.")
#Kita dapat mengakalinya dengan menggunakan tanda petik yang berbeda sehingga hasilnya pun sesuai.

I don't understant what are you saying.

In [7]:
print("Hari ini saya menggunakan Python,")
print("karena saya ingin belajar Algoritma.")
#Jika kita ingin membuat dua kalimat pada baris yang berbeda, kita dapat mengakalinya dengan menggunakan print dua kali.

Hari ini saya menggunakan Python,
karena saya ingin belajar Algoritma.

In [8]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = 'Saputra'
print(nama_depan+nama_tengah+nama_belakang)
#Untuk membuat spasi diantara nama depan dan nama belakang, kita dapat mengakalinya dengan menambah nama tengah yaitu spasi.

Angga Saputra

In [9]:
nama_depan = 'Angga'
nama_belakang = 'Saputra'
print(nama_depan+' '+nama_belakang)
#Atau bisa juga dengan membuat program seperti ini dimana kita menambahkan spasi pada program print.
#Panjang tanda spasi ketika kita menggunakan program ini juga tak berhingga.

Angga Saputra

In [10]:
nama_depan = 'Angga'
nama_belakang = 'Saputra'
print(nama_depan+'                                  '+nama_belakang)
#Misalnya kita ingin spasi yang sangat panjang antara nama depan dan nama belakang,
#maka kita tinggal menambahkan spasi yang banyak saja.

Angga                                  Saputra

In [11]:
nama_depan = 'Angga'
nama_belakang = 'Saputra'
print(nama_depan+" "+nama_belakang)
#Tanda petik untuk penambahan spasi juga tidak harus menggunakan tanda petik satu, melainkan dapat menggunakan tanda petik dua.

Angga Saputra

In [12]:
nama = 'Ni Luh Ketut Marsanda Putri Prasanti'
print(nama)
#Kita juga dapat membuat program seperti ini untuk mempermudah mengetikkan nama yang sangat panjang.
#Jadi saat kita akan menggunakan program print, maka kita dapat memanggil satu variabel saja.

Ni Luh Ketut Marsanda Putri Prasanti

In [13]:
nama = input("Input nama anda : ")
print("Selamat pagi"+"      "+nama)
#Pada kasus ini, kita dapat memanggil output sesuai dengan keinginan kita.
#Tidak melulu jika kita memanggil nama, maka akan keluar nama.

Input nama anda : Marsanda
Selamat pagi      Marsanda

In [16]:
nama = input("Input nama anda : ")
print("Selamat pagi, "+nama+'!')
#Kita juga dapat menambahkan tanda baca pada output sesuai keinginan kita.

Input nama anda : Putri
Selamat pagi, Putri!

In [18]:
nama = input('Siapakah nama Anda? ')
kegiatan = input('Apakah kegiatan Anda sekarang, '+nama+'?'+' ')
print('Semangat'+' '+kegiatan+'nya yah'+' '+nama+'!')
#Di sini kita dapat menambahkan beberapa kata untuk menghasilkan output yang diinginkan.

Siapakah nama Anda? Marsanda
Apakah kegiatan Anda sekarang, Marsanda? belajar Algoritma
Semangat belajar Algoritmanya yah Marsanda!

In [19]:
mahasiswa = 54
uang di dompet = 100000
print(mahasiswa)
print(uang di dompet)
print(mahasiswa*uang di dompet) 
#Di sini untuk mendeskripsikan sesuatu tidak boleh menggunakan spasi karena akan terjadi error.
#Sehingga untuk itu, kita dapat menggunakan tanda underscore.

SyntaxError: invalid syntax (2838735695.py, line 2)

In [22]:
mahasiswa = 54
uang_di_dompet = 100.000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet) 
#Ketika kita menggunakan tanda titik untuk memperlihatkan jumlah ribuan pada angka, 
#maka komputer secara otomatis akan menerjemahkannya dalam bentuk koma.

54
100.0
5400.0

In [31]:
mahasiswa = 54
uang_di_dompet = 100;000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet) 
#Namun ketika kita menggunakan tanda koma untuk memperlihatkan jumlah ribuan pada angka, maka hasilnya akan error.
#Begitupula ketika kita menggunakan tanda titik dua pada angka, maka hasilnya akan error.
#Dan ketika menggunakan tanda titik koma, maka komputer hanya dapat membaca angka sebelum tanda titik koma tersebut.

54
100
5400

In [25]:
dompet = input('Uang di dompet saya adalah ')
tabungan = input('Uang tabungan saya di bank adalah ')
total = int(dompet) + int(tabungan)
print('Total uang saya adalah '+ int(total))
#Terjadi error pada kasus ini karena tipe data untuk output total tidak bisa menggunakan tipe data int.
#Untuk mengatasi hal itu, kita dapat mengguanakan str untuk tipe data pada total uang.

Uang di dompet saya adalah 20000
Uang tabungan saya di bank adalah 30000

TypeError: can only concatenate str (not "int") to str

In [32]:
dompet = input('Uang di dompet saya adalah ')
tabungan = input('Uang tabungan saya di bank adalah ')
total = int(dompet) + int(tabungan)
print('Total uang saya adalah '+ str(total))
#Ketika kita menambahkan tanda titik pada angka untuk menunjukkan jumlah ribuan dengan menggunakan tipe data int,
#maka komputer tidak dapat memproses karena tipe data int hanya untuk bilangan bulat.
#Sedangkan seperti pada percobaan sebelumnya, tanda titik akan secara otomatis dibaca sebagai tanda koma oleh komputer.

Uang di dompet saya adalah 10.000
Uang tabungan saya di bank adalah 20.000

ValueError: invalid literal for int() with base 10: '10.000'

In [34]:
dompet = input('Uang di dompet saya adalah ')
tabungan = input('Uang tabungan saya di bank adalah ')
total = float(dompet) + float(tabungan)
print('Total uang saya adalah '+ str(total))
#Kita juga dapat menggunakan tipe data float, namun output yang dihasilkan akan berupa bilangan desimal.
#Dan ketika kita menggunakan tanda titik untuk menunjukkan bilangan ribuan pada angka dengan tipe data float,
#maka secara otomatis juga angka tersebut dibaca sebagai bilangan desimal sehingga output yang dihasilkan juga berupa desimal.

Uang di dompet saya adalah 10.000
Uang tabungan saya di bank adalah 20.000
Total uang saya adalah 30.0

In [35]:
dompet = input('Uang di dompet saya adalah ')
tabungan = input('Uang tabungan saya di bank adalah ')
total = float(dompet) + float(tabungan)
print('Total uang saya adalah '+ str(total))
#Seperti pada percobaan sebelumnya, tanda koma pada angka akan menghasilkan error.

Uang di dompet saya adalah 10,000
Uang tabungan saya di bank adalah 20,000

ValueError: could not convert string to float: '10,000'

In [36]:
type(dompet)

str

In [37]:
type(tabungan)

str

In [38]:
type(total)
#Kode ini untuk mmenunjukkan tipe data apa yang kita gunakan pada variabel yang diminta.

float

In [41]:
bilangan_satu = input('Masukkan bilangan pertama: ')
bilangan_kedua = input('Masukkan bilangan kedua: ')
jumlah = float(bilangan_satu)+float(bilangan_kedua)
print('Jumlah kedua bilangan adalah '+str(jumlah))
#Tanda + digunakan untuk penjumlahan ataupun menambahkan perintah baru.
#Tanda * digunakan untuk perkalian.

Masukkan bilangan pertama: 8.000
Masukkan bilangan kedua: 9.000
Jumlah kedua bilangan adalah 17.0

In [43]:
nama = 'Vladimir'
pekerjaan = 'guru'
institusi = 'SD Pertiwi'
print(nama+' adalah seorang '+pekerjaan+' di '+institusi+'.')
#Untuk menambahkan tanda spasi, kita dapat mengakalinya dengan cara ketika akan menambahkan beberapa kata pada perintah print,
#maka kita dapat menambahkan spasi di dalam kata/kalimat tersebut seperti contoh di atas.

Vladimir adalah seorang guru di SD Pertiwi.

In [44]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')
#Program ini digunakan untuk mempermudah penulisan nilai variabel yang ingin dicetak.

Vladimir adalah seorang guru di SD Pertiwi.

In [45]:
print(f{nama} adalah seorang {pekerjaan} di {institusi}.)
#Untuk menjalankan program Formatted String ini, kita tetap harus menggunakan tanda petik baik itu petik dua maupun petik satu.
#Karena jika tidak menggunakan tanda petik, maka hasilnya akan error seperti ini.

SyntaxError: invalid syntax (3733429172.py, line 1)

In [46]:
print(f'[nama] adalah seorang {pekerjaan} di {institusi}.')
#Ketika kita menggunakan tanda kurung siku pada salah satu variabel, maka akan menghasilkan output seperti di bawah ini.

[nama] adalah seorang guru di SD Pertiwi.

In [47]:
print(f'[nama] adalah seorang [pekerjaan] di [institusi].')
#Dan walaupun kita menggunakan tanda kurung siku pada seluruh variabel, hasilnya pun akan tetap sama seperti sebelumnya.

[nama] adalah seorang [pekerjaan] di [institusi].

In [48]:
print(f'(nama) adalah seorang {pekerjaan} di {institusi}.')

(nama) adalah seorang guru di SD Pertiwi.

In [50]:
print(f'(nama) adalah seorang (pekerjaan) di (institusi).')
#Begitupula halnya ketika kita menggunakan tanda kurung biasa pada satu atau setiap variabel, 
#maka akan menghasilkan output seperti di bawah ini.

#Sehingga dapat disimpulkan bahwa dalam menggunakan program Formatted String ini, 
#kita tidak boleh menggunakan tanda kurung lainnya selain tanda kurung kurawal.

(nama) adalah seorang (pekerjaan) di (institusi).