# While Loop

In [ ]:
x = 0
while x<2:
    y=x**2
    x=x-1
print(x)

#disini tidak akan ada hasilnya karena dia selalu memenuhi. 
#dimana pada while pertama saat x = 0, maka y = 0 dan x akan menjadi -1, dan -1 memenuhi kriteria x < 2
#kemudian saat x = -1, maka y = 1 dan x akan menjadi -2, dimana memenuhi kriteria x < 2
#kemudian saat x = -2, maka y = 4 dan x akan menjadi -3, dimana memenuhi kriteria x < 2
#begitu seterusnya sampai negatif tak hingga
#itulah yang menyebabkan program tidak bisa menghasilkan output karena semua hasilnya memenuhi kriteria x < 2

In [1]:
x = 0
while x>2:
    y=x**2
    x=x-1
print(x)

#disini 0 tidak memenuhi kriteria x>2 sehingga proses while dilewati dan langsung pada print

0

In [2]:
a = 0
while a < 5:
    print("Angka " + str(a) + " masih dibawah 5")
    a += 1
    
#disini proses while terjadi karena variabel memenuhi kriteria

Angka 0 masih dibawah 5
Angka 1 masih dibawah 5
Angka 2 masih dibawah 5
Angka 3 masih dibawah 5
Angka 4 masih dibawah 5

In [9]:
a = 0
while a < 5:
    print(a* '*')
    a += 1

#disini proses while juga terjadi, dimana tanda * merupakan tanda perkalian sehingga menghasilkan output seperti ini

*
**
***
****

In [ ]:
#list sama seperti string dimana spasi juga dihitung, bedanya list itu seperti storage data

# List

In [9]:
buah = ['mangga','pisang','rambutan','durian']
print(buah)

#sama seperti fungsi print sebelumnya, bedanya disini dia berupa list

['mangga', 'pisang', 'rambutan', 'durian']

In [10]:
print(buah[0])

#perhitungannya sama seperti fungsi string index sebelumnya, dimana angka 0 untuk kata pertama, angka 1 untuk kata kedua, dst

mangga

In [11]:
print(buah[2])

rambutan

In [12]:
print(buah[-1])

durian

In [13]:
print(buah[-2])

rambutan

In [14]:
buah[0] = 'salak'
print(buah)

#untuk menggantikan isi dalam list, dapat menggunakan cara ini

['salak', 'pisang', 'rambutan', 'durian']

In [15]:
print(buah[0:3])

#karena sebelumnya variabel salam list sudah diubah, maka list nya pun berubah menggunakan data yang baru

['salak', 'pisang', 'rambutan']

In [16]:
#tidak merubah list
print(buah)

['salak', 'pisang', 'rambutan', 'durian']

# Metoda List

In [3]:
nama = ['Made','Eka','Dwi']
nama.append('Sari')
print(nama)

#append biasanya digunakan untuk for?, dan append diletakkan di akhir
#fungsi ini untuk menambahkan sesuatu

['Made', 'Eka', 'Dwi', 'Sari']

In [4]:
nama.insert(0,'Dewi')
print(nama)

#kalau mau menambahkan di suatu plot, bisa menggunakan print, dan print biasanya diletakkan di awal

['Dewi', 'Made', 'Eka', 'Dwi', 'Sari']

In [5]:
nama.remove('Eka')
print(nama)

#fungsi remove untuk menghapus variabel

['Dewi', 'Made', 'Dwi', 'Sari']

In [6]:
print('Eka' in nama)

#fungsi ini seperti boolean dimana menghasilkan true or false

False

In [7]:
print('Dewi' in nama)

True

In [8]:
print(len(nama))

#len digunakan untuk mengetahui panjang list, anggotanya ada berapa

4

# For loop

In [4]:
buah = ['mangis','durian','salak','jeruk']
for jenis in buah:
    print(jenis)
    
#for ini mengidentifikasi satu-satu
#dimana hasilnya akan berurutan ke bawah, bukan ke samping seperti pada fungsi list

mangis
durian
salak
jeruk

In [5]:
i = 0
while i < len(buah):
    print(buah[i])
    i+=1
    
#jika dituliskan menggunakan fungsi while maka hasilnya akan seperti ini

mangis
durian
salak
jeruk

In [20]:
i = 0
while i < len(buah):
    i+=1
print(buah)

#jika seperti ini maka hasilnya akan berurutan ke samping
#karena perintah print berada di akhir, dan di print secara keseluruhan, jadi output yang dihasilkan diproses berbarengan

['mangis', 'durian', 'salak', 'jeruk']

In [21]:
i = 0
while i < len(buah):
    print(buah)
    i+=1

#sama seperti sebelumnya, bedanya disini penambahannya dilakukan setelah print

['mangis', 'durian', 'salak', 'jeruk']
['mangis', 'durian', 'salak', 'jeruk']
['mangis', 'durian', 'salak', 'jeruk']
['mangis', 'durian', 'salak', 'jeruk']

In [24]:
for i in range(len(buah)):
    print(buah[i])
    
#dapat juga dibuat dengan menggunakan fungsi range seperti ini

mangis
durian
salak
jeruk

In [22]:
for i in [0,1,2,3,4]:
    y=i**2
    print(y)
    
#contoh lain dengan menggunakan for

0
1
4
9
16

In [19]:
print(range(len(buah)))

#untuk menghitung range/batas variabel dapat menggunakan fungsi range seperti ini

range(0, 4)

# Fungsi range

In [25]:
angka = range(6)
print(angka)

#karena angka didefinisikan dengan range(6), maka komputer akan secara otomatis menangkap bahwa batasnya adalah 6

range(0, 6)

In [26]:
for isi in angka:
    print(isi)
    
#dan karena sudah didefinisikan bahwa rangenya adalah (0,6), maka disini juga akan menggunakan range tersebut

0
1
2
3
4
5

In [27]:
for isi in range(5, 10):
    print(isi)

#ini untuk mengubah rangenya

5
6
7
8
9

In [28]:
for isi in range(0,10,2):
    print(isi)
    
#ini berarti range 0 sampai 10, loncat 2, jdi bilangan genap

0
2
4
6
8

In [29]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for i in range(len(data)):
    if data[i] > terbesar:
        terbesar = data[i]
print(terbesar)

#percobaan mencari bilangan terbesar di dalam suatu list

5

In [30]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)

#dapat juga dibuat dalam bentuk seperti ini

5

In [31]:
angka = [1,2,3,4,5,6,3,4,5,7,8,7]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)

#percobaan membuat anggota list menjadi unik

[1, 2, 3, 4, 5, 6, 7, 8]