In [4]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Strings Index
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

kelas = 'ini kelas algoritma'

#Percobaan 1 String Index
#Di sini, huruf-huruf disimbolkan dengan menggunakan angka mulai dari 0 sampai seterusnya.
#Huruf pertama disimbolkan dengan angka 0, huruf kedua disimbolkan dengan angka 1, dst.
#Huruf terakhir disimbolkan dengan angka -1, huruf terakhir kedua disimbolkan dengan angka -2, dst.

In [15]:
print(kelas[0:5])

#Percobaan 2 String Index
#Karena angka pertama merupakan simbol untuk huruf pertama, maka dalam kasus ini angka 0 adalah huruf i.
#Kemudian angka 1 untuk huruf n, angka 2 untuk huruf i, angka 3 untuk spasi, dst.
#Angka 5 pada [0:5] adalah batas untuk output dan tidak akan keluar di output.
#Jadi, jika ada batas [0:5], maka itu berarti mulai dari huruf dengan simbol 0 sampai huruf dengan simbol 4.

ini k

In [6]:
print(kelas[5:-1])

#Percobaan 3 String Index
#Batas ini berarti berawal dari huruf dengan simbol 5 sampai huruf dengan simbol -2.

elas algoritm

In [7]:
print(kelas[2:-1:3])

#Percobaan 4 String Index
#Batas ini berarti berawal dari huruf dengan simbol 2 sampai huruf dengan simbol -2.
#Angka 3 pada [2:-1:3] berarti data tersebut dilompati 3 kali.

ieslrm

In [8]:
print(kelas[:-3])

#Percobaan 5 String Index
#Batas ini berarti dimulai dari awal dan berakhir di huruf dengan simbol -4.

ini kelas algori

In [9]:
print(kelas[1:])

#Percobaan 6 String Index
#Batas ini berarti dimulai dari huruf dengan simbol 1 sampai akhir.

ni kelas algoritma

In [10]:
print(kelas[:])

#Percobaan 7 String Index
#Batas ini berarti dimulai dari awal sampai akhir (secara keseluruhan).

ini kelas algoritma

In [16]:
print(kelas[])

#Percobaan 8 String Index
#Error karena tidak ada batas yang diinginkan.

SyntaxError: invalid syntax (3895172033.py, line 1)

In [21]:
print(kelas[-1:6])

#Percobaan 9 String Index
#Tidak ada output yang dihasilkan karena batas awal dimulai dari belakang sehingga tidak bisa di run.

In [19]:
print(kelas[2:-4:2:2])

#Percobaan 10 String Index
#Tidak bisa memiliki 4 buah ikon untuk batas karena ikon pertama merupakan batas awal, ikon kedua merupakan batas akhir,
#ikon ketiga merupakan jumlah loncatan, dan ikon keempat tidak memiliki arti.

SyntaxError: invalid syntax (923923410.py, line 1)

In [23]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Strings Methods
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

judul = 'Bali Surga Dunia'

#Percobaan 1 String Methods
#Penamaan huruf dengan menggunakan simbol angka sama seperti sebelumnya, yaitu huruf pertama dimulai dengan angka 0, dst.

In [24]:
print(len(judul))

#Percobaan 2 String Methods
#Metode ini digunakan untuk menghitung berapa jumlah huruf yang ada pada variabel tersebut.

16

In [25]:
judul.upper()

#Percobaan 3 String Methods
#Metode ini digunakan untuk mengubah format huruf menjadi huruf kapital.

'BALI SURGA DUNIA'

In [26]:
judul.lower()

#Percobaan 4 String Methods
#Metode ini digunakan untuk mengubah format huruf menjadi huruf kecil.

'bali surga dunia'

In [36]:
judul.find('Dunia')

#Percobaan 5 String Methods
#Metode ini digunakan untuk mengetahui kata 'Dunia' tersebut berada pada huruf ke berapa, 
#dengan menggunakan simbol angka seperti sebelumnya. 
#Namun yang dimaksud disini adalah letak ke berapakah huruf pertama kata tersebut.

11

In [30]:
judul.find('bali')

#Percobaan 6 String Methods
#Kata 'bali' tidak ada pada variabel karena huruf b pada kata 'bali' menggunakan huruf kecil.
#Sedangkan pada variabel didefinisikan dengan menggunakan huruf kapital.

-1

In [31]:
judul.replace('Bali',"Indonesia")

#Percobaan 7 String Methods
#Metode ini digunakan untuk mengganti kata pertama menjadi kata kedua.
#Seperti pada kasus ini dimana kata 'Bali' diganti dengan menggunakan kata 'Indonesia'.

'Indonesia Surga Dunia'

In [32]:
judul.replace('bali','Indonesia')

#Percobaan 8 String Methods
#Pada kasus ini, huruf b pada kata 'bali' menggunakan huruf kecil, sedangkan pada variabel dituliskan menggunakan huruf kapital.
#Itulah sebabnya kata tersebut tidak dapat diubah dan menghasilkan output yang sama seperti awalnya.

'Bali Surga Dunia'

In [33]:
print('Bali' in judul)

#Percobaan 9 String Methods
#Metode ini digunakan untuk mencari sebuah kata, apakah kata tersebut berada pada variabel atau tidak.
#Sama seperti tipe data boolean dimana akan menghasilkan 2 kemungkinan yaitu true atau false.

True

In [34]:
print('bali' in judul)

#Percobaan 10 String Methods
#Pada kasus ini, kata 'bali' tidak ada dalam variabel karena huruf b pada kata tersebut didefinisikan menggunakan huruf kapital.
#Itulah sebabnya percobaan ini menghasilkan output false.

False

In [2]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Operasi Matematika
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

print(2+3+4+5)

#Percobaan 1 Operasi Matematika
#Metode ini digunakan untuk menjumlahkan beberapa angka.

14

In [3]:
print(2-3+4-2)

#Percobaan 2 Operasi Matematika
#Metode seperti ini juga dapat digunakan dengan menggabungkan pengurangan dan penjumlahan.

1

In [4]:
print(2*3*9)

#Percobaan 3 Operasi Matematika
#Tanda (*) pada metode ini digunakan untuk mengalikan beberapa angka.

54

In [6]:
print(9/3*3+1)

#Percobaan 4 Operasi Matematika
#Tanda (/) pada metode ini digunakan untuk pembagian.
#Kita juga dapat menggabungkan beberapa operasi dalam satu program. 
#Pada kasus ini, output yang dihasilkan berupa bilangan desimal.
#Hal ini mungkin dikarenakan tipe data yang digunakan adalah float, 
#atau mungkin karena operasi awal pada program tersebut adalah pembagian sehingga output yg dihasilkan berupa bilangan desimal.

10.0

In [41]:
print(7//3)

#Percobaan 5 Operasi Matematika
#Tanda (//) pada metode ini digunakan untuk membulatkan hasil dari pembagian bilangan tersebut.

2

In [42]:
print(7%3)

#Percobaan 6 Operasi Matematika
#Tanda (%) pada metode ini merupakan modulo.

1

In [9]:
print(2**3**2)

#Percobaan 7 Operasi Matematika
#Tanda (**) pada metode ini digunakan untuk simbol perpangkatan.
#Dalam kasus ini, 3 pangkat 2 pada baris akhir merupakan pangkat dari 2 sehingga dapat disederhanakan menjadi 2 pangkat 9.

512

In [47]:
x=3
x+=1
print(x)

#Percobaan 8 Operasi Matematika
#Tanda (+=) pada metode ini digunakan untuk menambahkan variabel yang sudah didefinisikan sebelumnya dengan angka yang baru.

4

In [48]:
x-=2
print(x)

#Percobaan 9 Operasi Matematika
#Tanda (-=) pada metode ini digunakan untuk mengurangkan variabel sebelumnya.
#Dan karena pada program ini tidak didefinisikan berapa variabelnya, 
#maka komputer secara otomatis akan menggunakan data sebelumnya yaitu x=4 seperti pada output percobaan 8.

2

In [50]:
x*=3
print(x)

#Percobaan 10 Operasi Matematika
#Tanda (*=) pada metode ini digunakan untuk mengalikan variabel sebelumnya.

6

In [10]:
x/=2
print(x)

#Percobaan 11 Operasi Matematika
#Jika pada metode sebelumnya terdapat program untuk menambahkan, mengurangkan, ataupun mengalikan, 
#maka untuk pembagian sendiri tidak bisa dijalankan karena akan menghasilan error.

NameError: name 'x' is not defined

In [51]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Operator Perbandingan
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

x = 3>2
print(x)

#Percobaan 1 Operator Perbandingan
#Metode ini digunakan untuk perbandingan lebih besar dari (>) yang akan menghasilkan true atau false.

True

In [52]:
x = 2<3
print(x)

#Percobaan 2 Operator Perbandingan
#Metode ini digunakan untuk perbandingan kurang dari (<) yang akan menghasilkan true atau false.

True

In [53]:
x = 3 >= 2
print(x)

#Percobaan 3 Operator Perbandingan
#Tanda (>=) pada metode ini digunakan untuk perbandingan lebih besar dari atau sama dengan, dan menghasilkan true atau false.

True

In [54]:
x = 2 <= 3
print(x)

#Percobaan 4 Operator Perbandingan
#Tanda (<=) pada metode ini digunakan untuk perbandingan kurang dari atau sama dengan, dan menghasilkan true atau false.

True

In [55]:
x = 3 == 3
print(x)

#Percobaan 5 Operator Perbandingan
#Tanda (==) pada metode ini digunakan untuk perbandingan apakah kedua variabel bernilai sama, dan menghasilkan true atau false.

True

In [56]:
x = 3 != 4
print(x)

#Percobaan 6 Operator Perbandingan
#Tanda (!=) pd metode ini digunakan utk perbandingan apakah kedua variabel tidak bernilai sama, dan menghasilkan true atau false.

True

In [57]:
x = 2>3
print(x)

#Percobaan 7 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [58]:
x = 3<2
print(x)

#Percobaan 8 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [59]:
x = 2 >= 3
print(x)

#Percobaan 9 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [60]:
x = 3 <= 2
print(x)

#Percobaan 10 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [61]:
x = 3 == 4
print(x)

#Percobaan 11 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [65]:
x = 3 != 3
print(x)

#Percobaan 12 Operator Perbandingan
#Percobaan ini sebagai pembanding pada percobaan awal.

False

In [66]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Operator Logika
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

buah_manggis = 10
buah_mangga = 15
print(buah_manggis > 8 and buah_mangga < 20)

#Percobaan 1 Operator Logika
#Metode ini sama seperti konsep konjungsi pada logika matematika.
#Dimana pada konjungsi sendiri, jika kedua perbandingan bernilai benar, maka konjungsi juga akan bernilai benar. 
#Namun jika salah satu atau kedua perbandingan bernilai salah, maka konjungsi akan bernilai salah.

True

In [67]:
print(buah_manggis < 8 or buah_mangga < 20)

#Percobaan 2 Operator Logika
#Metode ini sama seperti konsep disjungsi pada logika matematika.
#Dimana pada disjungsi sendiri, jika kedua perbandingan bernilai salah, maka disjungsi juga akan bernilai salah. 
#Namun jika salah satu atau kedua perbandingan bernilai benar, maka disjungsi akan bernilai benar.

True

In [68]:
print(buah_manggis < 8 or buah_mangga > 20)

#Percobaan 3 Operator Logika
#Metode ini sama seperti konsep disjungsi pada logika matematika.
#Dimana pada disjungsi sendiri, jika kedua perbandingan bernilai salah, maka disjungsi juga akan bernilai salah. 
#Namun jika salah satu atau kedua perbandingan bernilai benar, maka disjungsi akan bernilai benar.

False

In [69]:
print(not (buah_manggis < 8 or buah_mangga > 20))

#Percobaan 4 Operator Logika
#Pada kasus ini, karena disjungsi tersebut bernilai salah, namun terdapat kata 'not' pada program tersebut, 
#maka hasilnya akan bertolak belakang dengan hasil disjungsinya.

True

In [76]:
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#Operator if
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")
    
#Percobaan 1 Operator if
#Operator if akan dijalankan apabila nilai variabel yang dijalankan adalah true, 
#sedangkan kalau nilainya adalah false, maka tidak akan dijalankan.

Nilai anda adalah 49
Anda mendapatkan nilai E
Sampai jumpa tahun depan

In [11]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")
    
#Percobaan 2 Operator if
#Program sebelumnya dapat dibuat dengan program seperti ini, dimana elif merupakan singkatan dari else if.

Nilai anda adalah 50
Anda mendapatkan nilai D
Ulang lagi tahun depan

In [14]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")
    
#Percobaan 3 Operator if
#Program ini merupakan program untuk merubah tinggi badan seseorang dari cm ke inci ataupun sebaliknya.

Berapakah tinggi anda? 160
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 62.992160000000005 inci

Note:

#Untuk menambahkan kolom di atasnya, bisa dengan klik kolom kemudian klik a
#untuk menambahkan kolom di bawahnya, bisa dengan klik kolom kemudian klik b
#Untuk markdown kolom, bisa dengan klik kolom kemudian klik m
#Untuk menghapus kolom, bisa dengan klik kolom kemudian klik x

Format membuat headline:

# Judul
## Sub Judul
### Pembahasan

Sintax Python:

#-1 artinya true
#-2 artinya false